@tailwind base;
@tailwind components;
@tailwind utilities;

/* create a variable for the paddock image */

/* background image paddock class */
.paddock {
  background-image: url("../../Images/paddock.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.table th:first-child {
  position: relative !important;
}

.card {
  @apply mx-3 h-[90%] rounded-lg bg-primary bg-opacity-50 p-3 text-slate-600;
}

.labelClass {
  @apply text-xl font-bold text-primary-focus;
}

.inputClass {
  @apply form-control input text-base placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-primary-focus;
}

.selectClass {
  @apply select text-base placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-primary-focus;
}
